body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
.buttons{
    border-width: 0;
    color: #000;
    font-size: 200%;
    height: 75px;
    margin: 1px;
    outline-width: 0;
    width: 75px !important;
}
.color0{
    background: #c83232;
}
.color1{
    background: #ff7d0a;
}
.color2{
    background: #2d8930;
}
.color3{
    background: #6cd;
}
.color4{
    background: #f58cba;
}
.color5{
    background: #476291;
}
.color6{
    background: #fd0;
}
.color7{
    background: #8650ac;
}
.color8{
    background: #c79c6e;
}
.color9{
    background: #70550f;
}
.color10{
    background: #2a2a2a;
}
#game-area{
    min-width: 375px;
}
#if-time-limit{
    display: none;
}
input{
    background: #000;
    color: #aaa;
    width: 75px;
}
input[type=button]{
    width: auto;
}
input[type=button]:not([disabled]),
input[type=range],
select:not([disabled]){
    cursor: pointer;
}
#settings{
    display: none;
    text-align: left;
}
#start-button{
    font-size: 123%;
}
